<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      # See book comment above Listing10.36, the new error partial
      # now expects a variable called obj, so we must pass it to
      # the partial, obj here is the arg of form_for, which is
      # @user. The error partial now can handle any obj, for
      # example, @microposts, does not have to be @user
      <%= render 'shared/error_messages', :obj=>f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
